@import "../reset.css";

@font-face {
	font-family: "YeongdeokSea";
	src: url("./font/Yeongdeok\ Sea.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
* {
	/* 화면 전체 중앙 정렬 */
	margin: 0 auto;
}

body {
	width: 100vw;
	height: 100vh;

	font-family: "YeongdeokSea";
	background-color: #f9facd;

	/* 전체 화면 스크롤 안되도록 가려주기 */
	overflow: hidden;
}

h1 {
	width: 100vw;
	height: 4rem;
	padding: 0.4rem;

	text-align: center;
	font-size: 2rem;
	font-weight: 600;
	background-color: #b5e8a4;
}

/* 상단 나의 자산 보여주는 영역 */
.summary-section {
	padding: 1rem;
}

.summary-article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 80vw;

	border: solid;
	border-width: 0.3rem;
	border-radius: 1.5rem;

	background-color: white;
}

h2 {
	font-size: 1.8rem;
	font-weight: 600;
}

.total {
	font-size: 2.5rem;
	font-weight: 600;
}

.summary-article__details {
	display: flex;

	margin-bottom: 1rem;
	column-gap: 2rem;

	font-size: 1.5rem;
}

.summary-article__details img {
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	vertical-align: middle;
	margin-right: 0.5rem;
}

.first-line {
	height: 0.1rem;
	background-color: orange;
}

.second-line {
	height: 0.08rem;
	background-color: orange;
	margin: 0.3rem 0;
}

.date-container {
	display: flex;
	justify-content: center;

	margin: 0.5rem 0;

	font-size: 1.7rem;
}

h4,
label {
	font-size: 1.4rem;
}

.h4-checkbox-container {
	display: flex;
	justify-content: space-around;
}

.list-container {
	display: flex;
	flex-direction: column;

	width: 100vw;
	height: 35vh;
	padding: 0.5rem 1rem;
	margin-bottom: 3rem;

	overflow-y: auto;
	row-gap: 0.5rem;
}

.list-container li {
	display: flex;
	width: 100%;

	justify-content: space-between;
	align-items: center;

	padding: 0.5rem 0;

	background-color: white;
	border: solid;
	border-color: black;
	border-radius: 0.8rem;
}

.list-container li > button {
	position: relative;
	right: 0;
}

.list__category {
	font-size: 1.1rem;
}

.subject,
.amount_minus,
.amount_plus {
	font-size: 1.3rem;
}

.amount_minus {
	color: rgb(0, 98, 255);
}

.amount_plus {
	color: rgb(255, 30, 0);
}

footer {
	position: absolute;
	bottom: 0;
	height: 3rem;
	width: 100%;

	background-color: lightgray;
	text-align: center;
}

footer > button > img {
	height: 3rem;
	width: 3rem;
}
